streamlit
pandas
numpy
scikit-learn
python-docx
PyPDF2
pdfplumber
nltk
spacy
tqdm
openpyxl
email-validator
validators
smtplib
beautifulsoup4
lxml
requests
joblib
matplotlib
seaborn
jinja2
